.detail{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-gap: 100px;
    padding: 50px;
    width: 65%;
    margin: 50px auto;
    padding-top: 70px;
    color: #fff;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
}
.detail img{
    position: relative;
    top: -10px;
    max-width: 300px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
}
@media screen and (max-width:1090px){
    .detail{
        grid-template-columns: 1fr;
        width: 100%;
    }
}